@font-face {
  font-family: batman-forever;
  src: url(assets/fonts/batmfa__.ttf);
}
@font-face {
  font-family: batfont;
  src: url(assets/fonts/Batfont-e9mm.ttf);
}
@font-face {
  font-family: gotham-nights;
  src: url(assets/fonts/GothamNights-e49g.ttf);
}

*{
  font-family: batman-forever;
}

body{
  background-color: black;
}

h1{
  text-align: center;
  color: yellow;
  display: inline;
  font-size: 55px;
}

.title-img{
  height: 40px;
}

#title-div{
  text-align: center;
}